<button (click)="changeDirection()">to rtl</button>
<button (click)="rangPicker = !rangPicker">rangpicker on/off</button>
<div [dir]="rtl? 'rtl': 'ltr'" class="cnt">
    <qeydar-date-picker
     [rtl]="rtl"
     [calendarType]="rtl? 'jalali':'georgian'"
     [(ngModel)]="myDate"
     [isRange]="rangPicker"
     [format]="'yyyy/MM/dd'"
     [maxDate]="maxDate"
     [minDate]="minDate"
     [mode]="'day'"
     [showSidebar]="false"
    (ngModelChange)="onChange($event)"></qeydar-date-picker>
    <input type="text">
    <qeydar-time-picker displayFormat="hh" format="12" [(ngModel)]="myDate" (ngModelChange)="onChange($event)"></qeydar-time-picker>
    <qeydar-time-picker
        timeFormat="24"
        displayFormat="HH:mm:ss"
        [(ngModel)]="myDate"
        (ngModelChange)="onChange($event)"
    ></qeydar-time-picker>
    <qeydar-date-picker
        [rtl]="rtl"
        [showSidebar]="true"
        [calendarType]="rtl? 'jalali':'georgian'"
        [(ngModel)]="myDateRange"
        [isRange]="false"
        [format]="'yyyy/MM/dd'"
        [mode]="'day'"
        (ngModelChange)="onChange($event)"
        [footerDescription]="'فقط برای تست است.'"
    >
    </qeydar-date-picker>
</div>